ul li.mdl-list__item{
    cursor: pointer;
    
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.5s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul#add li.mdl-list__item:hover{
    background:#dddddd;
}
ul li.mdl-list__item.checked{
background: #888;
color: #fff;
text-decoration: line-through;
}

span{
    margin-left:220px!important;
}
ul li.mdl-list__item.checked::before {
content: '';
position: absolute;
border-color: #fff;
border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
}

.Close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    margin-left: 0;
}

.Close:hover {
    background-color: #f44336;
    color: white;
}   
